.form-itens {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group {
    border: solid 1px black;
    width: 50%;
    padding: 10px;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}